[user]
	name = Quinn Rohlf
	email = qr@qrohlf.com
[color]
	ui = true
[push]
	default = tracking
[core]
	editor = subl -n -w
	excludesfile = ~/.dotfiles/config/gitignore_global
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
	c = commit -v
	ac = commit -av
	s = status
