[user]
	name = Quinn Rohlf
	email = qr@qrohlf.com
[color]
	ui = true
[push]
	default = tracking
[core]
	editor = atom --wait
	excludesfile = ~/.dotfiles/config/gitignore_global
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[alias]
	c = commit -v
	ac = commit -av
	s = status
	ch = checkout
	oops = commit --amend --no-edit
	unstage = reset HEAD --
	tinder = add -p
	g = grep
	co = checkout
	pum = pull upstream master
	ru = reset-upstream
	rekt = push -f --no-verify
[include]
	path = .gitconfig_overrides
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[rerere]
	enabled = true
	autoupdate = true
[format]
	pretty = format:%<(10,trunc)%C(yellow)%h%Creset%<(16,trunc)% an%<(12,trunc)% ad%C(cyan)% s%Creset
[log]
	date = relative
[rebase]
	instructionFormat = %<(12,trunc)%an %>(15,ltrunc)%ar %<(70,trunc)%s
[grep]
	lineNumber = true
